# .NET build outputs
**/bin/
**/obj/

# IDE
.vs/
.idea/
*.user

# Secrets
**/keys/
**/*.pem
**/.env
**/.env.*

# Environment variables
**/.env
**/.env.local
**/.env.production


# OS
.DS_Store
Thumbs.db
