# .NET build outputs
**/bin/
**/obj/

# IDE
.vs/
.idea/
*.user

# Secrets
**/keys/
**/*.pem
**/.env
**/.env.*

# Environment variables
**/.env
**/.env.local
**/.env.production

# Prompts
prompts/

#Roadmap
.roadmap/

# Documentation
docs/


# OS
.DS_Store
Thumbs.db
